html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.layout__root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  height: 100vh;

  .layout__navigation {
    height: 100%;
    border-radius: 0;
    height: 100vh;
    background: #001529;
  }

  .layout__content {
    padding: 0;
    overflow: hidden;
  }

  .content {
    padding: 24px;
    margin: 0;
  }
}

.clear {
  content: ' ';
  clear: both;
  width: 100%;
}

.site-layout-background {
  background: #001529;
  flex: 0 0 300px !important;
  max-width: 300px !important;
  min-width: 300px;
  width: 300px !important;
  position: relative;
}

.logo {
  background: rgba(255, 255, 255, 0.1);
  height: 50px;
  padding: 0 25px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.action-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: .2s ease all;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
